{% extends 'base.html.twig' %}

{% block title %}Créer un compte{% endblock %}

{% block body %}
    <h1>Créer un compte</h1>

    {{ form_start(registrationForm) }}
        {{ form_widget(registrationForm) }}

        <button type="submit" class="btn-1">Valider</button>
        <button type="reset" class="btn-2">Annuler</button>
    {{ form_end(registrationForm) }}
{% endblock %}
