{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<div class="sorties-list">

    <h1>Sortir.com</h1>


    <table class="tableau-sorties">
        <tr>
            <th>Nom de la sortie</th>
            <th>Date de la sortie</th>
            <th>Clôture</th>
            <th>Etat</th>
            <th>Inscrits/places</th>
            <th>Organisateur</th>
            <th>Action</th>

        </tr>
        {% for sortie in liste_sortie %}
        <tr>
            <td>{{ sortie.nom }}</td>

        </tr>
        <tr>
{% endfor %}

</div>
{% endblock %}

