{% extends 'base.html.twig' %}

{% block title %}Annuler une sortie{% endblock %}

{% block body %}


    <div class="annuler-sortie">
        <h1>Annuler une sortie</h1>

        <article>




            <div>
                {{ form_start(annulationForm) }}
                {{ form_widget(annulationForm) }}
                <br>
                <button type="submit" class="btn-1">Annuler la sortie</button>
                <button type="reset" class="btn-2">Annuler</button>
                {{ form_end(annulationForm) }}


            </div>




        </article>

    </div>
{% endblock %}

