{% extends 'base.html.twig' %}

{% block title %}
    Créer une sortie
{% endblock %}

{% block body %}

<div class="create">
    <h1>Créer un compte</h1>

    {{ form_start(createSortieForm) }}
    {{ form_widget(createSortieForm) }}
    <button>Enregistrer</button>
    <button>Publier la sortie</button>
    <button>Annuler</button>
    {{ form_end(createSortieForm) }}
{% endblock %}

{% block title %}
Créer une sortie
{% endblock %}

